<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Northlight</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image (System Formats)</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
				<string>public.png</string>
				<string>public.tiff</string>
				<string>public.heic</string>
				<string>public.heif</string>
				<string>com.compuserve.gif</string>
				<string>com.microsoft.bmp</string>
				<string>com.microsoft.ico</string>
				<string>com.apple.icns</string>
				<string>public.svg-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Modern Web Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.webmproject.webp</string>
				<string>public.avif</string>
				<string>public.jpeg-xl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.photoshop-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Camera RAW Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>com.canon.cr2-raw-image</string>
				<string>com.canon.cr3-raw-image</string>
				<string>com.canon.crw-raw-image</string>
				<string>com.nikon.raw-image</string>
				<string>com.nikon.nrw-raw-image</string>
				<string>com.sony.arw-raw-image</string>
				<string>com.adobe.raw-image</string>
				<string>com.fuji.raw-image</string>
				<string>com.panasonic.rw2-raw-image</string>
				<string>com.olympus.or-raw-image</string>
				<string>com.pentax.raw-image</string>
				<string>com.sigma.x3f-raw-image</string>
				<string>com.hasselblad.3fr-raw-image</string>
				<string>com.mamiya.raw-image</string>
				<string>com.phaseone.raw-image</string>
				<string>com.leica.raw-image</string>
				<string>com.kodak.raw-image</string>
				<string>com.minolta.raw-image</string>
				<string>com.epson.raw-image</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.webmproject.webp</string>
			<key>UTTypeDescription</key>
			<string>WebP Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webp</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/webp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.photoshop-image</string>
			<key>UTTypeDescription</key>
			<string>Adobe Photoshop Document</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>psd</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/vnd.adobe.photoshop</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.canon.cr2-raw-image</string>
			<key>UTTypeDescription</key>
			<string>Canon CR2 RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cr2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.canon.cr3-raw-image</string>
			<key>UTTypeDescription</key>
			<string>Canon CR3 RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cr3</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.canon.crw-raw-image</string>
			<key>UTTypeDescription</key>
			<string>Canon CRW RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>crw</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.nikon.raw-image</string>
			<key>UTTypeDescription</key>
			<string>Nikon NEF RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nef</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.nikon.nrw-raw-image</string>
			<key>UTTypeDescription</key>
			<string>Nikon NRW RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nrw</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.sony.arw-raw-image</string>
			<key>UTTypeDescription</key>
			<string>Sony ARW RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>arw</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.raw-image</string>
			<key>UTTypeDescription</key>
			<string>Adobe DNG RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dng</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.fuji.raw-image</string>
			<key>UTTypeDescription</key>
			<string>Fujifilm RAF RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>raf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.panasonic.rw2-raw-image</string>
			<key>UTTypeDescription</key>
			<string>Panasonic RW2 RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rw2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.olympus.or-raw-image</string>
			<key>UTTypeDescription</key>
			<string>Olympus ORF RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>orf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.pentax.raw-image</string>
			<key>UTTypeDescription</key>
			<string>Pentax PEF RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pef</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.sigma.x3f-raw-image</string>
			<key>UTTypeDescription</key>
			<string>Sigma X3F RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>x3f</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.hasselblad.3fr-raw-image</string>
			<key>UTTypeDescription</key>
			<string>Hasselblad 3FR RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>3fr</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.mamiya.raw-image</string>
			<key>UTTypeDescription</key>
			<string>Mamiya MEF RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mef</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.phaseone.raw-image</string>
			<key>UTTypeDescription</key>
			<string>Phase One IIQ RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>iiq</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.leica.raw-image</string>
			<key>UTTypeDescription</key>
			<string>Leica RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rwl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.kodak.raw-image</string>
			<key>UTTypeDescription</key>
			<string>Kodak RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kdc</string>
					<string>dcr</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.minolta.raw-image</string>
			<key>UTTypeDescription</key>
			<string>Minolta MRW RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mrw</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.epson.raw-image</string>
			<key>UTTypeDescription</key>
			<string>Epson ERF RAW Image</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.camera-raw-image</string>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>erf</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.photography</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 DGTL TECH LLC</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
